<!doctype html>
<html>
<head>
	<link rel="canonical" href="https://rolandleth.com/projects/bouncyb">
	<link rel="shortcut icon" href="/images/favicons/bouncyb.ico">
	<title>Roland Leth: Bouncy B</title>
	<link rel="stylesheet" href="/styles/standalone/bouncyb.min.css">
	<link rel="stylesheet" href="/styles/globals/animate.min.css">
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-40255117-4']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' === document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	<script type="text/javascript">
		var GoSquared = {acct: "GSN-879086-L"};
		(function(w){
			function gs(){
				w._gstc_lt = +new Date;
				var d = document, g = d.createElement("script");
				g.type = "text/javascript";
				g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
				var s = d.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(g, s);
			}
			w.addEventListener ? w.addEventListener("load", gs, false) : w.attachEvent("onload", gs);
		})(window);
	</script>
</head>

<body>
	<div id="menuBar">
		<div class="wrapper">
			<div id="menu">
				<a href="/">Blog</a>
				<a href="/projects">Other Projects</a>
				<a href="mailto:roland@rolandleth.com">Contact</a>
			</div>
		</div>
	</div>
	<div id="showcase">
		<div class="wrapper">
			<div id="showcaseText">
				<h1>Bouncy B</h1>
				<img src="/images/bouncyb/icon.png" id="appIcon"	class="animated bounceInDown" alt="">
				<p>This is what I like to call an inverted endless runner. Instead of running and jumping from platform to platform, here you are constantly falling and need to bounce on the platforms, or fall to your shameless defeat. <br /> <br />
					<em>Sold.</em>
				</p>
			</div>
			<img src="/images/bouncyb/both.png" class="animated bounceInLeft" alt="">
		</div>
	</div>


	<div class="imgRightBlock">
		<div class="wrapper">
			<div class="featureText">
				<h1>SMASH MOVE</h1>
				<p>Furiously dive downwards, smashing the cloud you land on.</p>
				<div class="smallInfo">
					B gets angry for 1.5 seconds.
				</div>
			</div>
			<img src="/images/bouncyb/smash.png" class="animated bounceInRight" alt="">
		</div>
	</div>


	<div class="imgLeftBlock">
		<div class="wrapper">
			<div class="featureText">
				<h1>LIFT MOVE</h1>
				<p>Cautiously lift yourself when in danger of falling.</p>
				<div class="smallInfo">
					B gets sick for 6 seconds.
				</div>
			</div>
			<img src="/images/bouncyb/green.png" class="animated bounceInLeft" alt="">
		</div>
	</div>

	<div class="imgRightBlock">
		<div class="wrapper">
			<div class="featureText">
				<h1>STARS</h1>
				<p>What kind of runner game would this be without collectibles? Gather as many stars as you can!</p>
			</div>
			<img src="/images/bouncyb/star.png" class="animated bounceInRight" alt="">
		</div>
	</div>

	<div class="imgLeftBlock">
		<div class="wrapper">
			<div class="featureText">
				<h1>FLIGHT</h1>
				<p>Burst forward in a dashing flight, at dazzling speeds!</p>
			</div>
			<img src="/images/bouncyb/fly.png" class="animated bounceInLeft" alt="">
		</div>
	</div>

	<div class="imgRightBlock">
		<div class="wrapper">
			<div class="featureText">
				<h1>SIMPLE TO USE CONTROLS</h1>
				<p>Touch the left side to give B a lift from below. Touch the right side to instantly send B downwards.
				   Controls are inverted if left handed mode is active.</p>
			</div>
			<img src="/images/bouncyb/green.png" class="animated bounceInRight" alt="">
		</div>
	</div>

	<footer>
		<p>© 2017 Roland Leth</p>
	</footer>
</body>
</html>
