<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<link rel="canonical" href="https://rolandleth.com/projects/carminder">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Roland Leth: Carminder</title>
	<meta name="description" content="Bookmark, track and get reminded of your car's maintenance on your iPhone and iPad." />
	<meta name="keywords" content="app, reminder, iOS, iPhone, iPad, car, maintenance, alert, reminder, iPhone 4S, iPhone 4, applications"
	/>
	<meta name="author" content="Roland Leth" />
	<script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="
	 crossorigin="anonymous">

	</script>
	<link rel="shortcut icon" href="/images/favicons/carminder.ico">
	<link rel="stylesheet" href="/styles/standalone/carminder/default.min.css" />
	<link rel="stylesheet" href="/styles/standalone/carminder/component.min.css" />
	<script src="/js/showcase/modernizr.custom.min.js"></script>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-40255117-4']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' === document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	<script type="text/javascript">
		var GoSquared = { acct: "GSN-879086-L" };
		(function(w) {
			function gs() {
				w._gstc_lt = +new Date;
				var d = document, g = d.createElement("script");
				g.type = "text/javascript";
				g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
				var s = d.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(g, s);
			}
			w.addEventListener ? w.addEventListener("load", gs, false) : w.attachEvent("onload", gs);
		})(window);
	</script>
</head>

<body>
	<div class="container">
		<header class="clearfix">
			<div class="inner">
				<h1>Carminder<span>never forget about your car, ever again!</span></h1>
				<nav class="codrops-demos" role="navigation">
					<a href="/">Blog</a>
					<a href="/projects">Other projects</a>
					<a href="/downloads/carminder-press-kit.zip" onClick="_gaq.push(['_trackEvent', 'Downloads', 'PressKit', 'Carminder']);">Press Kit</a>
					<a href="mailto:support@rolandleth.com">Contact</a>
				</nav>
			</div>
		</header>
		<div class="main">
			<div id="ac-wrapper" class="ac-wrapper">
				<h2>Carminder<span>Your car's best friend</span>
					<a href="https://itunes.apple.com/us/app/carminder-super-simple-maintenance/id633617025?ls=1&amp;mt=8">
						<img src="/images/misc/80pxhigh.png" style="margin-top: 12px;" alt="Buy Carminder on the App Store"/>
					</a>
				</h2>
				<div class="ac-device">
					<a href="#"><img src="/images/carminder/screen1.png" alt="See all of your car's events at a glance; chronologically and alphabetically."/></a>
					<h3 class="ac-title">See all of your car's events at a glance; chronologically and alphabetically.</h3>
					<nav>
						<span>&lt;</span>
						<span>&gt;</span>
					</nav>
				</div>
				<div class="ac-grid">
					<a href="#"><img src="/images/carminder/screen1.png" alt="See all of your car's events at a glance; chronologically and alphabetically."/>
						<span>See all of your car's events at a glance</span>
						<spanText hidden>See all of your car's events at a glance; chronologically and alphabetically.</spanText>
					</a>
					<a href="#"><img src="/images/carminder/screen2.png" alt="Only one car? No problem, I'll get rid of that bottom bar for now."/>
						<span>Only one car? No problem, I'll get rid of that bottom bar for now.</span>
						<spanText hidden>Only one car? No problem, I'll get rid of that bottom bar for now.</spanText>
					</a>
					<a href="#"><img src="/images/carminder/screen3.png" alt="Here you can see all the expired events."/>
						<span>Here you can see all the expired events.</span>
						<spanText hidden>Here you can see all the expired events.</spanText>
					</a>
					<a href="#"><img src="/images/carminder/screen4.png" alt="The edit/add view. Everything you need, just one tap away."/>
						<span>The edit/add view. Everything you need, just one tap away.</span>
						<spanText hidden>The edit/add view. Everything you need, just one tap away.</spanText>
					</a>
					<a href="#"><img src="/images/carminder/screen5.png" alt="Set the date of the event and the time you want to be reminded at."/>
						<span>Set the date of the event and when you want to be reminded.</span>
						<spanText hidden>Set the date of the event and when you want to be reminded.</spanText>
					</a>
					<a href="#"><img src="/images/carminder/screen6.png" alt="Then how long before the event, and how often: You're awesome."/>
						<span>Then then time and how often: You're done.</span>
						<spanText hidden>Then the time and how often: You're done.</spanText>
					</a>
				</div>
			</div>
			<p>
				<img src="/images/misc/devices.png" alt="" /><br /> Kept in sync on all your devices via Dropbox.
			</p>
		</div>
	</div>
	<script src="/images/showcase/appshowcase.js"></script>
	<script>
		$(function() {
			AppShowcase.init();
		});
	</script>
	<footer role="contentinfo">
		<p>© 2017 Roland Leth</p>
	</footer>
</body>

</html>
