<!doctype html>
<html>
<head>
	<link rel="canonical" href="https://rolandleth.com/projects/iwordjuggle">
	<link rel="shortcut icon" href="/images/favicons/iwordjuggle.ico">
	<title>Roland Leth: iWordJuggle</title>
	<link rel="stylesheet" href="/styles/standalone/iwj.min.css">
	<link rel="stylesheet" href="/styles/globals/animate.min.css">
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-40255117-4']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' === document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	<script type="text/javascript">
		var GoSquared = {acct: "GSN-879086-L"};
		(function(w){
			function gs(){
				w._gstc_lt = +new Date;
				var d = document, g = d.createElement("script");
				g.type = "text/javascript";
				g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
				var s = d.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(g, s);
			}
			w.addEventListener ? w.addEventListener("load", gs, false) : w.attachEvent("onload", gs);
		})(window);
	</script>
</head>

<body>
	<div id="menuBar">
		<div class="wrapper">
			<div id="menu">
				<a href="/">Blog</a>
				<a href="/projects">Other Projects</a>
				<a href="mailto:roland@rolandleth.com">Contact</a>
			</div>
		</div>
		<hr />
	</div>
	<div id="showcase">
		<div class="wrapper">
			<div id="showcaseText">
				<h1>iWordJuggle</h1>
				<img src="/images/iwj/icon.png" id="appIcon" class="animated bounceInDown" alt="">
				<p>Simple, yet challenging word game. The game that leaves out "features" to stand out of the crowd. As the saying goes, less is more.
					<br /> <br />
					<em>Sold.</em>
				</p>
			</div>
			<div id="showcaseImage">
				<img src="/images/iwj/both.png" class="animated bounceInLeft" alt="Main Screenshot">
			</div>
		</div>
	</div>


	<div class="rightBlock">
		<div class="wrapper">
			<div class="featureText">
				<h1>PICKING PHASE</h1>
				<p>You are given a set of 15 words from which you have to pick 3 to be your game words. You can random the words again and again, but be wise, you have to pick all your words from the same set!</p>
			</div>
			<img src="/images/iwj/pick.png" class="animated bounceInRight" alt="">
		</div>
	</div>

	<div class="leftBlock">
		<div class="wrapper">
			<div class="featureTextLandscape">
				<h1>LANDSCAPE</h1>
				<p>It also supports left handed mode, displaying the words and check button on the left and the points on the right.</p>
			</div>
			<div class="screenshot">
				<img src="/images/iwj/landscape.png" class="animated bounceInLeft" alt="">
			</div>
		</div>
	</div>

	<div class="rightBlock">
		<div class="wrapper">
			<div class="featureText">
				<h1>SIMPLE GAMEPLAY</h1>
				<p>Create words without having a timer nor a find this many words counter to bug you. Play at your own pace, put it down, come back later. As simple as that</p>
			</div>
			<img src="/images/iwj/gameplay.png" class="animated bounceInRight" alt="">
		</div>
	</div>

	<div class="leftBlock">
		<div class="wrapper">
			<div class="featureText">
				<h1>SAVE</h1>
				<p>Simple and elegant main menu. As any game should, it saves the current state of your game when you exit, so you can come back later.</p>
			</div>
			<img src="/images/iwj/menu.png" class="animated bounceInLeft" alt="">
		</div>
	</div>

	<footer>
		<p>© 2017 Roland Leth</p>
	</footer>
</body>


</html>
