<!doctype html>
<html>
<head>
	<link rel="canonical" href="/projects/sosmorse">
	<link rel="shortcut icon" href="/images/favicons/sos-morse.ico">
	<title>Roland Leth: Sos &amp; Morse</title>
	<link rel="stylesheet" href="/styles/standalone/sosmorse.min.css">
	<link rel="stylesheet" href="/styles/globals/animate.min.css">
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-40255117-4']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	<script type="text/javascript">
		var GoSquared = {acct: "GSN-879086-L"};
		(function(w){
			function gs(){
				w._gstc_lt = +new Date;
				var d = document, g = d.createElement("script");
				g.type = "text/javascript";
				g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
				var s = d.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(g, s);
			}
			w.addEventListener ? w.addEventListener("load", gs, false) : w.attachEvent("onload", gs);
		})(window);
	</script>
</head>

<body>
	<div id="menuBar">
		<div class="wrapper">
			<div id="menu">
				<a href="/">Blog</a>
				<a href="/projects">Other Projects</a>
				<a href="mailto:roland@rolandleth.com">Contact</a>
			</div>
		</div>
		<hr />
	</div>
	<div id="showcase">
		<div class="wrapper">
			<div id="showcaseText">
				<h1>Sos & Morse</h1>
				<img src="/images/sos-morse/icon.png" id="appIcon" class="animated bounceInDown" alt="">
				<p>An all-in-one multipurpose utility app that you can use for education too. Woo!</p>
			</div>
			<div id="showcaseImage">
				<img src="/images/sos-morse/screenshot.png" class="animated bounceInLeft" alt="">
			</div>
		</div>
	</div>


	<div class="rightBlock">
		<div class="wrapper">
			<div class="featureText">
				<h1>THE S.O.S BUTTON</h1>
				<p>It simply starts an S.O.S signal with the iPhone's flash. If after 15 seconds the signal is not stopped, an e-mail is auto-composed with the current location and time since the signal was started. <br /> See below for further details.</p>
			</div>
			<img src="/images/sos-morse/sos.png" class="animated bounceInRight" alt="">
		</div>
	</div>

	<div class="leftBlock">
		<div class="wrapper">
			<div class="featureText">
				<h1>LANDSCAPE</h1>
				<p>Pressing this button presents a text box where you can enter any text you want and it will be turned into morse code with the iPhone's flash.	<br />
				   Neat educative perk, ain't it? <br />
				   The slider is there if you want a simple strobe.
				</p>
			</div>
			<img src="/images/sos-morse/custom.png" class="animated bounceInLeft" alt="">
		</div>
	</div>

	<div class="rightBlock">
		<div class="wrapper">
			<div class="featureText">
				<h1>SAVE THREE EMAILS</h1>
				<p>Here you can save up to three e-mail addresses so the app can auto-complete them when composing the message.
					<br />
				   The message is auto-composed, all you have to do is press Send. In case of an emergency, it might prove useful.</p>
			</div>
			<img src="/images/sos-morse/emails.png" class="animated bounceInRight" alt="">
		</div>
	</div>

	<footer>
		<p>© 2017 Roland Leth</p>
	</footer>
</body>
</html>
