{
	"presets": [
		"razzle/babel", // NEEDED
		"@babel/preset-typescript",
		[
			"@babel/preset-env",
			{
				// "spec": true,
				// "debug": true,
				"useBuiltIns": "usage",
				"corejs": "3.0.1"
			}
		]
	],
	"plugins": [
		"transform-optional-chaining",
		"@babel/proposal-class-properties",
		"@babel/proposal-object-rest-spread"
	]
}
