# JetBrains:
.idea/
build/

# VSCode
.vscode/

*.codekit3
.circleci/
node_modules

yarn-debug.log*
yarn-error.log*
.pnp
/.pnp.js
Public/files/press-kits/Goalee
Public/files/press-kits/My Travel Stories
public/files/press-kits/DND Me
public/files/releases/dndme/DNDMe Template.dmg
