@import '../globals/variables.scss';

.content {
	& h1 {
		font-size: 1.5em;
		line-height: 1.25em;
		font-weight: 600;
		padding-top: 0.6em;
	}

	font-size: 0.9em;
	line-height: 1.5em;
	max-width: $maxWidth;
	margin: auto;
	padding-top: 2.5em;
}
