@import "../globals/variables.scss";

.content {
	padding-top: 4.5em;
	padding-bottom: 2em;
	margin: auto;
	max-width: 600px;

	& h1 {
		font-weight: 600;
		font-size: 1.2em;
		padding: 1em 0 0;
	}

	& p {
		padding: 0.25em 0;
	}
}

.technologies-wrapper {
	display: grid;
}

.technologies {
	display: inline-grid;
	grid-template-columns: auto auto;
	grid-gap: 120px;
	margin: 40px auto;

	@include responsiveWidth(500px) {
		grid-gap: 80px;
	}

	@include responsiveWidth(400px) {
		grid-gap: 40px;
	}

	@include responsiveWidth(310px) {
		grid-template-columns: auto;
	}
}

.technology {
	display: grid;
	grid-row-gap: 5px;
	justify-items: center;
}

.technology-wrapper {
	display: inline-grid;
	grid-template-columns: auto auto;
	grid-column-gap: 20px;
	align-items: center;

	@include responsiveWidth(400px) {
		grid-gap: 0;
	}

	@include responsiveWidth(310px) {
		grid-gap: 20px;
	}
}

.technology-caption {
	text-align: center;
}

@include responsiveWidth(630px) {
	.content {
		padding-top: 3em;
	}
}
