@import '../globals/variables.scss';
@import url('../globals/reset.min.css');

body {
	color: $textColor;
	background: $backgroundColor;
	font-family: $bodyFont;
	font-size: 1.1em;
	line-height: 1.75em;
	margin: 0 auto;
}

li {
	list-style: disc inside;
	padding-left: 1.5em;

	&:nth-child(1) {
		padding-top: 0.3em;
	}

	> ul > li {
		padding-left: 1.5em;
		list-style-type: circle;
	}
}

a {
	text-decoration: none;
	color: $linkColor;
	border-bottom: 1px solid transparent;
	padding-bottom: 1.5px;

	@include transition(border, 0.4s);

	&:hover {
		border-bottom-color: $linkColor;
	}
}

p {
	margin: 0.75em 0;

	&.no-margin {
		margin: 0;
	}
}

em {
	font-style: italic;
}

strong {
	font-weight: 600;
}

.centered {
	text-align: center;
}

.side-padded {
	padding: 0 $sidePadding;
}
