// Sizing
$maxWidth: 700px;

// Colors
$linkColor: #0371b8;
$darkGray: #585858;
$lightGray: #cacaca;
$gray: #888;
$backgroundColor: #fcfcfc;
$textColor: #3b3b3b;
$redColor: #f6291d;

$challengeBeatColor: #ff0e37;
$deinDealColor: #c40e3d;
$cardVirtualColor: #fc5f25;
$berariahColor: #fa8f30;
$carminderColor: #00a29b;
$expensesPlannerColor: #481faf;
$puppetAnthemsColor: #a91f13;
$goaleeColor: #7161e8;

// $bodyFont: 'Verdana', 'Arial', sans-serif;
$headerFont: copperplate, "Copperplate", "Copperplate Gothic", "Titillium Web",
	sans-serif;
$bodyFont: "Titillium Web", sans-serif;
$sidePadding: 20px;

@mixin responsiveWidth($width) {
	@media screen and (max-width: $width) {
		@content;
	}
}

@mixin transition($prop, $duration) {
	-webkit-transition: $prop $duration ease-in;
	-moz-transition: $prop $duration ease-in;
	-o-transition: $prop $duration ease-in;
	transition: $prop $duration ease-in;
}

@mixin flex() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin flexVertical() {
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

@mixin flexPosition($position) {
	-webkit-box-ordinal-group: $position;
	-moz-box-ordinal-group: $position;
	-ms-flex-order: $position;
	-webkit-order: $position;
	order: $position;
}
