@import '../globals/variables';

.site-footer {
	max-width: $maxWidth;
	border-top: solid 0.5px $gray;
	padding-top: 0.2em;
	margin: 5em auto 1em;
	line-height: 1.5em;
	font-size: 1em;
	font-weight: 500;

	.quote {
		line-height: 1.5em;
		font-style: italic;
		font-size: 0.8em;
		font-weight: 300;
	}

	.copyright {
		margin: 0.8em 0;
	}
}
