@import "../globals/variables.scss";

.title-container {
	padding: 2.5em 20px 1em;
	text-align: right;
	max-width: $maxWidth;
	margin: auto;
	// font-family: $headerFont;

	& a:hover {
		border-bottom-color: transparent;
	}
}

.nav-padding {
	height: 24px;
	padding: 1em;
	display: none;

	&.visible {
		display: block;
	}
}

.title {
	display: inline-block;
	font-size: 2.1em;
	font-weight: 600;
	line-height: 1.2em;
	font-family: $headerFont;

	&.first-half {
		color: $darkBlue;
	}

	&.second-half {
		color: $linkColor;
		margin-left: 1px;
	}
}

.title-space {
	display: none;
}

.subtitle {
	font-style: italic;
	font-size: 0.8em;
	font-weight: 100;
	line-height: 1.5em;
	margin-top: -5px;
}

@include responsiveWidth(460px) {
	.title-space {
		display: inline-block;
	}
}

@include responsiveWidth(360px) {
	.title-space {
		display: none;
	}
}

@include responsiveWidth(330px) {
	.title {
		font-size: 1.9em;
	}
}
