@import '../globals/variables';

.intro {
	padding: 2.5em 0 0;
	line-height: 1.5em;
}

.title-container {
	text-align: right;
	max-width: $maxWidth;
	margin: auto;
	@include sidePadding();
}

.title {
	display: inline-block;
	font-size: 2em;
	font-weight: 600;
	line-height: 1.2em;

	&.first-half {
		color: #00356A;
	}

	&.second-half {
		color: #0371B8;
	}
}

.definitions-container, .contact-us-container {
	border-left: solid 4px $linkColor;
}

.definitions-container {
	// border-right: solid 4px $linkColor;
	padding: 2.5em 0 1em;

	& .definitions {
		max-width: $maxWidth;
		margin: auto;
	}
}

.contact-us-container {
	padding: 0 0 1em;
}