@import '../globals/variables.scss';

.intro {
	padding: 2.5em 0 0;
}

.title-container {
	text-align: right;
	max-width: $maxWidth;
	margin: auto;
}

.title {
	display: inline-block;
	font-size: 2em;
	font-weight: 600;
	line-height: 1.2em;

	&.first-half {
		color: #00356A;
	}

	&.second-half {
		color: $linkColor;
	}
}

.subtitle {
	font-style: italic;
	font-size: 0.8em;
	font-weight: 200;
}

.definitions-container, .contact-us-container {
	border-left: solid 4px $linkColor;
}

.definitions-container {
	padding: 2.5em 0 1em;

	& .definitions {
		line-height: 1.5em;
		max-width: $maxWidth;
		margin: auto;
	}
}

.contact-us-container {
	padding: 1em 0 1em;
}

.contact-us {
	max-width: $maxWidth;
	margin: auto;
}

@include responsiveWidth(590px) {
	.contact-us-spacer {
		display: none;
	}
}