@import "../globals/variables.scss";

.navigation {
	// padding: 2.5em 0;
	padding: 0.7em 0 0.5em;
	margin: auto;

	&.fixed {
		position: fixed;
		top: 0;
		background: white;
		width: 100%;
		border-bottom: 0.5px solid $linkColor;
	}
}

nav {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-row-gap: 6px;

	text-align: center;
	max-width: $maxWidth;
	margin: auto;

	& .nav-item {
		&:hover {
			border-bottom-color: transparent;
		}

		& button {
			font-family: $headerFont;
			font-size: 1em;
			color: $linkColor;
			background: none;
			border-radius: 8px;
			padding: 8px 20px;
			cursor: pointer;
			white-space: nowrap;
			border: none;

			&.selected {
				border-top: 0.5px solid $linkColor;
			}

			@include transition(all, 0.25s);

			&:hover {
				background: $linkColor none repeat;
				color: white;
				box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 20px;
				transform: translateY(-3px);
			}
		}
	}
}

@include responsiveWidth(630px) {
	.navigation {
		padding: 0.9em 0 0.9em;
	}

	nav {
		grid-template-columns: repeat(2, minmax(150px, 1fr));
		max-width: 460px;
	}
}

@include responsiveWidth(300px) {
	nav {
		grid-template-columns: repeat(2, minmax(120px, 1fr));
	}
}
