@import '../globals/variables';

.project {
	padding: 4em $sidePadding 0;
	margin: auto;
}

.project-name {
	margin-bottom: 2.5em;
	font-size: 1.5em;
	font-weight: 600;
}

.project-meta {
	display: table;
	margin: auto;
}

.project-description {
	max-width: 500px;
}

.project-description, .project-image {
	display: table-cell;
	vertical-align: middle;

	&.left {
		padding: 0 80px 0 20px;
	}

	&.right {
		padding: 0 20px 0 80px;
	}
}

.project-image > img {
	max-height: 400px;
	max-width: 400px;
}

.project-description-fake-right-container {
	display: none;
}

.project-bottom-line {
	margin: 2em auto auto;
	border-bottom: solid 0.5px $lightGray;
	max-width: $maxWidth;
}

.other-projects {
	padding-top: 3em;
}

@include responsiveWidth(1200px) {
	.project-description, .project-image {
		&.left {
			padding: 0 40px 0 20px;
		}

		&.right {
			padding: 0 20px 0 40px;
		}
	}
}

@include responsiveWidth(1000px) {
	.project-description, .project-image {
		&.left {
			padding: 0 20px 0 10px;
		}

		&.right {
			padding: 0 10px 0 20px;
		}
	}
}

@include responsiveWidth(900px) {
	.project-description, .project-image {
		&.left {
			padding: 0 10px 0 0;
		}

		&.right {
			padding: 0 0 0 10px;
		}
	}

	.project-description {
		max-width: 80%;
	}
}

@include responsiveWidth(800px) {
	.project-description, .project-image {
		&.left, &.right {
			padding: 0;
		}

		display: block;
	}

	.project-description {
		&.left {
			display: none;
		}

		margin: 3em auto 0;
		max-width: 90%;
	}

	.project-image > img {
		max-width: 90%;
	}

	.project-description-fake-right-container {
		& > .left {
			display: block;
		}

		display: block;
	}
}

@include responsiveWidth(375px) {
	.project-image > img {
		max-width: 90%;
	}
}