@import "../globals/variables.scss";

.project {
	padding: 4em $sidePadding 0;
	margin: auto;

	&.image-left.bordered {
		border-right: solid 4px;
	}

	&.image-right.bordered {
		border-left: solid 4px;
	}

	&.bordered {
		&.challengebeat {
			border-color: $challengeBeatColor;
		}

		&.deindeal {
			border-color: $deinDealColor;
		}

		&.beraria-h {
			border-color: $berariahColor;
		}

		&.carminder {
			border-color: $carminderColor;
		}

		&.expenses-planner {
			border-color: $expensesPlannerColor;
		}

		&.card-virtual {
			border-color: $cardVirtualColor;
		}

		&.puppet-anthems {
			border-color: $puppetAnthemsColor;
		}
	}
}

.project-name {
	margin-bottom: 2.5em;
	font-size: 1.5em;
	font-weight: 600;

	.gallery & {
		font-size: 1.5em;
		margin-bottom: 1em;
		font-weight: 600;
	}

	& a {
		.challengebeat & {
			color: $challengeBeatColor;
		}

		.deindeal & {
			color: $deinDealColor;
		}

		.beraria-h & {
			color: $berariahColor;
		}

		.card-virtual & {
			color: $cardVirtualColor;
		}

		.carminder & {
			color: $carminderColor;
		}

		.expenses-planner & {
			color: $expensesPlannerColor;
		}

		.puppet-anthems & {
			color: $puppetAnthemsColor;
		}

		&:hover {
			.challengebeat & {
				border-color: $challengeBeatColor;
			}

			.deindeal & {
				border-color: $deinDealColor;
			}

			.beraria-h & {
				border-color: $berariahColor;
			}

			.card-virtual & {
				border-color: $cardVirtualColor;
			}

			.carminder & {
				border-color: $carminderColor;
			}

			.expenses-planner & {
				border-color: $expensesPlannerColor;
			}

			.puppet-anthems & {
				border-color: $puppetAnthemsColor;
			}
		}
	}
}

.project-meta {
	display: table;
	margin: auto;
}

.project-description {
	max-width: 500px;
}

.project-description,
.project-image {
	display: table-cell;
	vertical-align: middle;

	&.left {
		padding: 0 80px 0 20px;
	}

	&.right {
		padding: 0 20px 0 80px;
	}
}

.project-image {
	img {
		max-height: 600px;
		max-width: 600px;
	}

	a {
		transition: none;
	}

	a:hover {
		border-bottom: none;
	}
}

.project-bottom-line {
	margin: 2em auto auto;
	border-bottom: solid 0.5px $lightGray;
	max-width: $maxWidth;
}

a.image:hover {
	border-bottom: none;
}

.gallery {
	color: gray;
	text-align: center;
	font-weight: 500;
	font-size: 0.75em;
	margin-top: 6em;

	&.second {
		margin-top: 3em;

		& .project-name {
			margin-top: 0;
		}
	}

	& img {
		&.icon {
			width: 100px;
			height: 100px;
			border-radius: 18px;

			-webkit-box-shadow: #777777 0 0 3px 1px;
			-moz-box-shadow: #444444 0 0 3px 1px;
			box-shadow: #777777 0 0 7px 0;
		}
	}

	span {
		display: inline-block;
		margin: 0.75em 1em 1em;

		&.icon-title {
			display: block;
			margin: -0.5em 0 0;
		}

		> a > img {
			margin: 0.15em 0.5em;
		}
	}
}

.other-projects {
	padding-top: 3em;
}

@include responsiveWidth(1200px) {
	.project-description,
	.project-image {
		&.left {
			padding: 0 40px 0 20px;
		}

		&.right {
			padding: 0 20px 0 40px;
		}
	}
}

@include responsiveWidth(1000px) {
	.project-description,
	.project-image {
		&.left {
			padding: 0 20px 0 10px;
		}

		&.right {
			padding: 0 10px 0 20px;
		}
	}
}

@include responsiveWidth(900px) {
	.project-description,
	.project-image {
		&.left {
			padding: 0 10px 0 0;
		}

		&.right {
			padding: 0 0 0 10px;
		}
	}

	.project-description {
		max-width: 80%;
	}
}

@include responsiveWidth(800px) {
	.project-description,
	.project-image {
		&.left,
		&.right {
			padding: 0;
		}

		display: block;
	}

	.project-description {
		margin: 3em auto 0;
		max-width: 90%;
	}

	.project-image {
		margin: auto;
	}

	.project-meta {
		@include flex();
		@include flexVertical();
	}

	.project-description.centered.left {
		@include flexPosition(2);
	}

	.project-image.centered.right {
		@include flexPosition(1);
	}
}

@include responsiveWidth(375px) {
	.project-image img {
		max-width: 90%;
	}
}
